<table>
	<tr>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#51---beneficial-and-harmful-effects">5.1</a></td>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#52---digital-divide">5.2</a></td>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#53---computing-bias">5.3</a></td>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#54---crowdsourcing">5.4</a></td>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#55---legal-and-ethical-concerns">5.5</a></td>
		<td><a href="https://github.com/YashShah138/Data_Structures1/blob/main/study.md#56---safe-computing">5.6</a></td>
	</tr>
</table>
<hr>
